

.post{
	position: relative;
	margin-top: 20px;

	min-height: 70px;
}
.ava{
	width: 60px;
	height: 60px;

	border-radius: 50%;

	position: absolute;
	left: 0;
	top: 0;
}

.content{
	margin-left: 70px;
}

.username{
	font-weight: 900;
	color: #336e7f;
	font-size: 20px;
}

.like{
	display: block;

	font-size: 16px;
	color: #2b5e99;
}